<div class="container">
    <div class="row title">
        <form ng-submit="updateTask(task)">
            <input ng-model="selectedTask.title" class="form-control"  required>
            <br>
            <textarea ng-model="selectedTask.description" class="form-control" placeholder="Please descripbe your task"
                      required=""/>
            <br>
            <input ng-model="selectedTask.price" class="form-control" placeholder="How much you will pay?">
            <br>
            <input type="submit" value="Post" class="btn btn-success">
        </form>
    </div>
</div>